#form {
  display: flex;
  width: 100%;
  max-width: 400px;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.1);
  /* justify-content: center; */
  margin: 1rem auto;
  padding: 1rem;
  border: 2px solid black;

}

input{
  padding: 0.1rem 0.3rem;
}

select,
button {
  margin: 0.5rem 0;
  cursor: pointer;
}

button {
  display: block;
  margin: auto;
  padding: 0.2rem 1rem;
  font-size: 14px;
}



#userList {
  width: 100%;
  overflow: auto;
}

table {
  margin: auto;
}

th {
  border: 2px solid black;
  padding: 0 1rem;

}

tr,
td {
  padding: 1rem;
  background: rgba(0, 0, 0, 0.1);

}

label {
  display: block;
  padding: 0.2rem 0;
}

.flex {
  display: flex;
  align-items: center;
  padding-right: 0.2rem;
}



.user {
  margin: 2rem;

}